pipeline/pl_MetaDataForLoop.json
{
	"name": "pl_MetaDataForLoop",
	"properties": {
		"activities": [
			{
				"name": "getSipInputMetaData",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_csvinput",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "foreachSIPInputFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getSipInputMetaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getSipInputMetaData').output.pipelineReturnValue",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}