dfSIP/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dfSIP"
		},
		"azBlobSIP_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'azBlobSIP'"
		},
		"azBlobStrg_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'azBlobStrg'"
		},
		"sqlserverLS_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'sqlserverLS'",
			"defaultValue": "Integrated Security=True;Data Source=DESKTOP-4D2KJHF;Initial Catalog=SIPDB"
		},
		"sqlserverLS_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'sqlserverLS'"
		},
		"sqlserverLS_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "admin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/azBlobSIP')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('azBlobSIP_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/azBlobStrg')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('azBlobStrg_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ILPraveenKumar')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ILRPraveenKumar')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsCSVSIP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azBlobSIP",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSVFileDataSets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "sipdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SlNo",
						"type": "String"
					},
					{
						"name": "AccountName",
						"type": "String"
					},
					{
						"name": "FolioNumber",
						"type": "String"
					},
					{
						"name": "TransactionType",
						"type": "String"
					},
					{
						"name": "SchemeName",
						"type": "String"
					},
					{
						"name": "Price",
						"type": "String"
					},
					{
						"name": "Amount",
						"type": "String"
					},
					{
						"name": "Units",
						"type": "String"
					},
					{
						"name": "TransactionDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azBlobSIP')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsDividend')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azBlobStrg",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSVFileDataSets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "dividend"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azBlobStrg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsSIP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azBlobStrg",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSVFileDataSets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "sipmain"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SlNo",
						"type": "String"
					},
					{
						"name": "AccountName",
						"type": "String"
					},
					{
						"name": "FolioNumber",
						"type": "String"
					},
					{
						"name": "TransactionType",
						"type": "String"
					},
					{
						"name": "SchemeName",
						"type": "String"
					},
					{
						"name": "Price",
						"type": "String"
					},
					{
						"name": "Amount",
						"type": "String"
					},
					{
						"name": "Units",
						"type": "String"
					},
					{
						"name": "TransactionDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azBlobStrg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqlserverLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('sqlserverLS_connectionString')]",
					"userName": "[parameters('sqlserverLS_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('sqlserverLS_password')]"
					}
				},
				"connectVia": {
					"referenceName": "ILPraveenKumar",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ILPraveenKumar')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/plSip')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getSipMainMetaData",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dsSIP",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"itemName"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "IfDividentFileExists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "getSipMainMetaData",
								"dependencyConditions": [
									"Skipped"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@indexOf(activity('getSipMainMetaData').output.itemName,'Dividend')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "cpyToDividendFolder",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"fileListPath": "sipmain",
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings",
												"copyBehavior": "MergeFiles"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "SlNo",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "SlNo",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "AccountName",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "AccountName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "FolioNumber",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "FolioNumber",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "TransactionType",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "TransactionType",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "SchemeName",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "SchemeName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Price",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Price",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Amount",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Amount",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Units",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Units",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "TransactionDate",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "TransactionDate",
														"type": "String",
														"physicalType": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "dsSIP",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "dsDividend",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dsSIP')]",
				"[concat(variables('factoryId'), '/datasets/dsDividend')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsSIPSQLServer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlserverLS",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SqlDataSets"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "SlNo",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "AccountName",
						"type": "nvarchar"
					},
					{
						"name": "FolioNumber",
						"type": "nvarchar"
					},
					{
						"name": "TransactionType",
						"type": "nvarchar"
					},
					{
						"name": "SchemeName",
						"type": "nvarchar"
					},
					{
						"name": "Price",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Amount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Units",
						"type": "float",
						"precision": 15
					},
					{
						"name": "TransactionDate",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SIPINPUT"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlserverLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsSQLServerSchemaNames')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlserverLS",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SqlDataSets"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Schema_Name",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Schema_Names"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlserverLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/plCopyMasterTables')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cpySchemaNames",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "  SELECT distinct [SchemeName]      \n  FROM [SIPDB].[dbo].[SIPINPUT]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsSIPSQLServer",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dsSIPSQLServer",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dsSIPSQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_sipcsvtosqlserveronpremise')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cpySIPDataToDB",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsCSVSIP",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dsSIPSQLServer",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dsCSVSIP')]",
				"[concat(variables('factoryId'), '/datasets/dsSIPSQLServer')]"
			]
		}
	]
}